.menu {
    background-color: var(--fundoClaro);
    font-size: 17px;
    width: 245px;
    height: 100dvh;
    z-index: 999;
    padding: 30px 10px 10px 10px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.041);
}

.logo {
    width: 50%;
    height: 90px;}

.subTitulo {
    font-size: 12px;
    color: #777;
    padding: 3px 0px;
}

.btnMenu {
    position: fixed;
    z-index: 9999;
    top: 2px;
    left: 2px;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: var(--fundoHover);
        border-radius: 50%;
    }
}

.nomePersonagem {
    font-size: 14px;
}
 .navegacaoPerson {
    max-height: 550px;
    overflow-y: auto; 
}

.navegacaoPerson::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}
  
.navegacaoPerson {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}
  

.menuItems {
    padding-bottom: 5px;
    font-weight: bold;
}

.menuItems button, .menuItems a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    transition: background 0.2s ease-in-out;
    border-radius: 15px;
    cursor: pointer;
    &:hover {
        background-color: var(--fundoHover);
    }
}

.menuItems i {
    font-size: 14px;
}

.containerPerson {
    height: 1000px;
    overflow-y: auto;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    padding-bottom: 680px;
}

.containerPerson::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.separacaoCriacao {
    border: none;
    height: 2px;
    background-color: #777;
    margin: 20px 0;
    width: 90%;
    border-radius: 1px;
}

.separacaoConta {
    border: none;
    height: 2px;
    background-color: #777;
    margin: auto;
    width: 95%;
    border-radius: 1px;
}

.itemConta {
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    transition: background 0.2s ease-in-out;
    &:hover {
        background-color: var(--fundoHover);
    }
}

.sobreConta.aberto {
    display: block; 
}

.person {
    padding: 10px;
    border-radius: 15px;
    &:hover {
        background-color: var(--fundoHover);
    }
}

.containerConta {
    background-color: var(--fundoClaro);
    padding: 10px 0px;
}

.items li {
    width: 100%;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    transition: background 0.3s ease;
    &:hover {
        background-color: var(--fundoHover);
    }
}

.navegacaoConta {
    background-color: var(--fundoEscuro);
    border-radius: 10px;
    
}

@media (min-height: 700px) {
    .containerPerson {
        padding-bottom: 500px;
    }
}

@media (min-height: 600px) {
    .containerPerson {
        padding-bottom: 670px;
    }
}

@media (min-height: 800px) {
    .containerPerson {
        padding-bottom: 600px;
    }
}

@media (min-height: 900px) {
    .containerPerson {
        padding-bottom: 400px;
    }
}

@media (min-height: 1000px) {
    .containerPerson {
        padding-bottom: 300px;
    }
}