.criacaoPerson {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCriacaoPerson {
    width: 90%;
    max-width: 670px;
    margin: 20px 0px;
    border-radius: 20px;
    padding: 10px 20px 20px 20px;
    background-color: var(--fundoClaro);
}

.containerFoto {
    margin-bottom: 15px;
}

.containerCriacaoPerson form > div > input {
    width: 100%;
    height: 55px;
   border: 1px solid var(--fundoHover);
    border-radius: 20px;
    padding-left: 10px;
}

.containerCriacaoPerson form > div > input:focus {
    border-color: #fff; 
    outline: none;
}


.containerCriacaoPerson form > input[type='submit'] {
    width: 90px;
    padding: 5px;
    cursor: pointer;
}

.containerCriacaoPerson textarea {
    border: 1px solid var(--fundoHover);
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 10px;
    height: 100px;
}

.containerCriacaoPerson textarea:focus {
    border-color: #fff; 
    outline: none;
}

.containerCriacaoPerson form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerFigurinhas {
    display: flex;
    flex-wrap: wrap; 
    gap: 12px;
    width: 100%;
    justify-content: center;

}

.figurinhas {
    width: calc(33.333% - 12px);
    height: 200px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
   
    &:hover {
        opacity: 0.8;
    }
}

.figurinhas img {     
    pointer-events: none;
    
}

.figurinhas input[type="file"] {
    position: absolute;
    inset: 0; 
    opacity: 0;
    cursor: pointer;
}
.tituloFigurinhas {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .figurinhas {
        width: calc(50% - 12px);
    }
}