.campoPesquisarContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    z-index: 209;
    display: flex;
    align-items: center;
}

.input {
    width: 100%; 
    padding: 12px 50px 12px 15px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.87);
    outline: none;
    background: rgba(255, 255, 255, 0.05);
    transition: border-color 0.2s;
    backdrop-filter: blur(6px);
}

.botaoPesquisar {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

@media (min-width: 1224px) {
    .campoPesquisarContainer {
        width: 20% !important;
        right: 40px;
    }
}

@media (min-width: 924px) {
    .campoPesquisarContainer {
        width: 28% !important;
        left: auto;
        right: 20px;
        transform: none;
    }
}

@media (min-width: 600px) {
    .campoPesquisarContainer {
        width: 45%;
        left: auto;
        right: 20px;
        transform: none;
    }
}

