.authentication {
    /* background-color: #F4F4F4; */
    width: 100vw;
    height: 100vh;
    /* color: var(--fundoEscuro); */
    justify-content: center;
    align-items: center;
}

.authentication h1 {
    font-size: 35px;
    margin: 10px 0px 20px 0px;
}

.modalBemVindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(135deg, #6a11cb, #2575fc); 
    color: white;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modalBemVindo img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    padding: 10px;
}

.modalBemVindo h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

.modalBemVindo p {
    font-size: 1rem;
    margin: 0;
}


.modalBemVindo .google-button-wrapper {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.verificarUsuario {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.178);
    padding: 10px 20px 20px 25px;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    min-width: 200px;
}


.verificarUsuario input {
    margin: 2px 0px 10px 0px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.verificarUsuario input:hover {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe; 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.verificarUsuario input[type='submit'] {
    width: 80px;
    padding: 2px;
    background-color: #0B5ED7;
    color: #fff;
}

.espaco2 {
    padding: 20px;
    height: 200px;
}