:root {
  --fundoEscuro: #1e1e1e;
  --sobra: rgba(0, 0, 0, 0.185);
  --fundoClaro: #232323;
  --fundoHover: rgba(255, 255, 255, 0.137);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Inter', sans-serif;
  height: 100dvh;
  background-color: var(--fundoEscuro);
}



