:root {
  --fundoEscuro: #1e1e1e;
  --sobra: rgba(0, 0, 0, 0.185);
  --fundoClaro: #232323;
  --fundoHover: rgba(255, 255, 255, 0.137);
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden; /* Mantém aqui */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden; /* Fundamental */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Impede estouro horizontal aqui também */
}