
* {
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden; /* Mantém aqui */
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-main);
  min-height: 100vh;
  overflow-x: hidden; /* Fundamental */
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Impede estouro horizontal aqui também */
}