.cardsPersonagens {
    max-width: 700px;
}

.character {
    position: relative;
}

.character:hover {
    backdrop-filter: blur(12px); 
}

.character:hover .cardImg {
    transform: rotate(-5deg) scale(1.1);
}

.btnEditar {
    position: absolute;
    top: 0px;
    right: 1px;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    color: #fff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.8;
}

.btnEditar:hover {
    opacity: 1;
    color: white;
    transform: rotate(15deg);
}

.cardImg {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.cardDescription {
    font-size: 0.80rem;
    color: rgba(255, 255, 255, 0.7); 
    line-height: 1.6;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardTitle {
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
    line-height: 1.2;
}

.interactions {
    display: flex;
    flex-flow: row nowrap;
}

.likeButton, .commentButton, .favorito {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: all 0.2s;
    padding: 5px 8px;
    border-radius: 8px;
}

.likeButton.active {
    color: #ff4b4b;
}

.likeButton svg {
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.likeButton:active svg {
    transform: scale(1.3);
}

.textSemPersonagens p {
    font-size: 0.80rem;
    width: 100%;
    text-align: center;
}

.iconSemPersonagens {
    font-size: 1.8rem;
    opacity: 0.3;
}

@media (min-width: 600px) {
    .cardImg {
        width: 60px;
        height: 60px;
    }

     .iconSemPersonagens {
        font-size: 2rem;
    }

    .noFavorites p {
        font-size: 1rem;
    }
}

@media (min-width: 628px) {
    .interactions {
        display: flex;
        position: absolute;
        bottom: 8px;
        right: 8px;
    }
}

@media (max-width: 882px) {
     .cardDescription {
        width: 80%;
    }
}


@media (max-width: 587px) {
    .cardsPersonagens {
         width: 90%;
    }
}

@media (max-width: 710px) {
    .cardsPersonagens {
         width: 70%;
    }

    .cardDescription {
        width: 70%;
    }
}

@media (max-width: 483px) {
    .cardsPersonagens {
         width: 100%;
    }
}
@media (max-width: 423px) {
    .cardsPersonagens {
         width: 100%;
    }

    .cardDescription {
        font-size: 0.68rem;
    }
}